<div class="home-container">
    <!-- Sección de bienvenida -->
    <div class="welcome-section">
      <h1>Bienvenido a TicketEase</h1>
      <p>¡Compra tus boletos para las mejores funciones de cine de forma fácil y rápida!</p>
      <a routerLink="/movies" class="btn-view-functions">Ver funciones disponibles</a>
    </div>
  
    <div class="links">
      <ul>
        <li>
          <a routerLink="/movies">Ver Películas</a>
        </li>
        <li>
          <a routerLink="/tickets">Ver Mis Tickets</a>
        </li>
      </ul>
    </div>
  </div>
  